.about {
  padding-top: 272px;
  display: flex;
  justify-content: space-between;
}
.about-content {
  max-width: 50%;
}
.section {
  // .section__title
  &__title {
  }
}
.sub-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-color);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 40px;
}
.stats {
  display: flex;
  justify-content: space-between;
  // .stats__heading
  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: var(--dark-color);
    margin-block-start: 0;
    margin-block-end: 0;
  }
  // .stats__text
  &__text {
    font-size: 20px;
    line-height: 30px;
    color: var(--grey-color);
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.about-pic {
  width: 500px;
  height: 500px;
  display: contents;
  img {
    object-fit: cover;
    align-self: end;
  }
}
