<header class="header">
  <a href="#">
    <img src="../img/logo.png" alt="Logo" class="logo" />
  </a>
  <nav class="nav" title="">
    <ul class="nav__list list-reset">
      <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
      <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
    </ul>
  </nav>
  <button class="btn header__btn btn-reset">Let's Talk</button>
</header>
